<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.core.filebuffers"
   name="%pluginName"
   version="3.0"
   provider-name="%providerName"
   class="org.eclipse.core.internal.filebuffers.FileBuffersPlugin">

   <runtime>
      <library name="filebuffers.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.core.filebuffers,org.eclipse.core.internal.filebuffers"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.text"/>
   </requires>


   <extension-point id="documentCreation" name="%documentCreationPoint" schema="schema/documentCreation.exsd"/>
   <extension-point id="documentSetup" name="%documentSetupPoint" schema="schema/documentSetup.exsd"/>
   <extension-point id="markerUpdating" name="%markerUpdatingPoint" schema="schema/markerUpdating.exsd"/>

   <extension
         id="DocumentCreationExtension"
         name="%defaultDocumentFactory"
         point="org.eclipse.core.filebuffers.documentCreation">
      <factory
         id="DefaultDocumentFactory"
         extensions="*"
         class="org.eclipse.core.internal.filebuffers.DefaultDocumentFactory">
      </factory>
   </extension>
   
   <extension
         id="MarkerUpdatingExtension"
         name="%defaultMarkerUpdater"
         point="org.eclipse.core.filebuffers.markerUpdating">
      <updater
	     id="DefaultMarkerUpdater"
         class="org.eclipse.core.filebuffers.annotations.DefaultMarkerUpdater">
      </updater>
   </extension>

</plugin>
